*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("https://images.moneycontrol.com/static-mcnews/2021/08/Indian-flag-770x433.jpg?impolicy=website&width=770&height=431");
    background-size: cover;
    /* background-repeat: no-repeat; */
        /* background: linear-gradient(45deg, red, blue); */
        color: black;
        font-family: 'Poppins', sans-serif;
    }
.top-section{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
#images {
    align-items: center;
    margin-left: 70px;
}

#images img{
       width: 500px;
       height: 550px;
       border-radius: 50%;
       border: 3px solid rgb(24, 187, 15);
       -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
       -ms-border-radius: 50%;
       -o-border-radius: 50%;
}

#head-line{
    font-size: 40px;
    margin-top: 300px;
    margin-right: 100px;
}

.bio {
    margin-left: 200px;
    margin-right: 200px;
}

#para {
    margin-top: 20px;
}
#sani li {
    margin: 10px;
}